body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

h1 {
    color: #444;
    margin-top: 0;
}

#resources div, #upgrades button, #mineOil, #sellOil, #prestige {
    margin: 10px 0;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#chartContainer {
    margin-top: 30px;
}

.canvasjs-chart-credit {
   display: none;
}

/* Adjust the style as per your need for responsiveness */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .game-container {
        width: 90%;
        padding: 15px;
    }
}
